body
{
  background-color: white;
  background-color:white;
  position: absolute;
  left: -80px;
  top: -98px;
  width: 1716px;
  height: 1351px;
  z-index: 2;
}


h1.Willow_Crest {
  font-size: 42px;
  
  color: rgb(23, 23, 23);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 222.844px;
  top: 264.783px;
  width: 238px;
  height: 34px;
  z-index: 9;
}

p.T {
  font-size: 110px;
  font-family: "PlayfairDisplay";
  color: rgb(23, 23, 23);
  line-height: 0.309;
  position: absolute;
  left: 223.285px;
  top: 357.796px;
  width: 62px;
  height: 79px;
  z-index: 11;
  border-right: 10px;

}

text {
  font-size: 18px;
  font-family: "Lato";
  color: rgba(23, 23, 23, 0.702);
  line-height: 1.889;
  
  position: absolute;
  left: 267.703px;
  top: 374.892px;
  width: 1048.628px;
  height: 499.996px;
  z-index: 10;
  
}
p.q
{
  font-style: italic; 
  quotes: '\201c';
  
}
text .right 
{
  margin-left: 50px;
}

input[type="submit"]
{
  background-color: white;
  color: rgb(234, 162, 88);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.889;
  text-align: center;
  position: absolute;
  left: 219.549px;
  top: 940.872px;
  width: 114px;
  

}
  

